# Data
pandas
numpy

# ML - Stage 1
scikit-learn

# ML - Stage 2
torch
transformers
datasets

# Experiment Tracking
mlflow

# API
fastapi
uvicorn

# CLI
click

# Azure
azure-ai-ml
azure-identity
azureml-core
azureml-mlflow
azure-mgmt-resource

# Utilities
python-dotenv
joblib

# Testing
pytest
pytest-cov