# Data
pandas==2.2.2
numpy==1.26.4

# ML - Stage 1
scikit-learn==1.4.2

# ML - Stage 2
torch
transformers
datasets==2.19.0
huggingface-hub==0.23.0

# Experiment Tracking
mlflow==2.13.0

# API
fastapi
uvicorn

# CLI
click

# Azure
azure-ai-ml
azure-identity
azureml-core
azureml-mlflow
azure-mgmt-resource

# Utilities
python-dotenv==1.0.1
joblib==1.4.2

# Testing
pytest
pytest-cov